%h1 Bonjour #{current_user.first_name} !

%table{ :class => "table table-striped table-hover" }
  %thead
    %tr
      %th Titre
      %th Date de début
      %th Date de fin
      %th Moyenne
  %tbody
  - @subjects.each do |s|
    %tr
      %td
        = link_to s.name, s
      %td
        = s.start_date
      %td
        = s.finish_date
      %td
        = student_avg(s,current_user)
