%h1 Gestion des utilisateurs
= link_to "Inviter des utilisateurs", new_user_invitation_path
%br
= link_to "Ajouter un cours", new_subject_path
= link_to "Ajouter un contrôle", new_exam_path

%div.row
  %div{:class => "col-xs-12"}
    %div{:class => "panel panel-default"}
      %div.panel-heading
        Gestion utilisateurs
      %table{ :class => "table table-striped table-hover", :id => "user_table" }
        %thead
          %tr 
            %th Nom
            %th Prénom
            %th Email
            %th Admin
            %th Prof.
            %th
            %th
        %tbody
        - @users.each do |u|
          %tr
            %td
              = u.last_name
            %td
              = u.first_name
            %td
              = u.email
            %td
              = u.is_admin
            %td
              = u.is_teacher
            %td
              = link_to 'Modifier', edit_user_path(u)
            %td 
              = link_to 'Supprimer', user_path(u), method: :delete, data: { confirm: "Êtes-vous sûr ?" }


%div.row  
  %div{:class => "col-xs-12 col-sm-6"}
    %div{:class => "panel panel-default"}
      %div.panel-heading
        Gestion matières
      %table{ :class => "table table-striped table-hover" }
        %thead
          %tr 
            %th Intitulé
            %th Date début
            %th Date fin
            %th Prof.
            %th
            %th
        %tbody
          - @subjects.each do |s|
            %tr
              %td
                = link_to s.name, s
              %td
                = s.start_date
              %td
                = s.finish_date
              %td
                = s.owner.first_name + " " + s.owner.last_name

  %div{:class => "col-xs-12 col-sm-6"}
    %div{:class => "panel panel-default"}
      %div.panel-heading
        Gestion examens
      %table{ :class => "table table-striped table-hover" }
        %thead
          %tr 
            %th Intitulé
            %th Date
            %th Matière
            %th
            %th
        %tbody
          - @exams.each do |e|
            %tr
              %td
                = link_to e.name, e
              %td
                = e.date
              %td
                = link_to e.subject.name, e.subject