%div.row
  %div#form_bloc.center-block
    = bootstrap_form_for @user do |f|
      %h1 Compte de #{@user.first_name} #{@user.last_name}
      = f.check_box :approved

      %h2 Authorisations
      = f.check_box :is_admin
      = f.check_box :is_teacher

      .actions
        = f.submit