%p#notice= notice

%h1
  = @subject.name

= link_to 'Edit', edit_subject_path(@subject) if can? :manage, Subject

%div.row
  %div{:class => "col-xs-12 col-sm-3"}
    %b du :
    = @subject.start_date
  %div{:class => "col-xs-12 col-sm-3"}
    %b au :
    = @subject.finish_date
  %div{:class => "col-xs-12 col-sm-6"}
    %b par :
    = @subject.owner.first_name + " "+ @subject.owner.last_name

%h1 Examens
- if !current_user.is_teacher
  %table{ :class => "table table-striped table-hover table-bordered" }
    %thead
      %tr
        %th Intitulé
        %th Date
        %th Matiere
        %th Note
    %tbody
      - @subject.exams.where(subject:@subject).each do |e|
        %tr{ :class => ("danger" unless !(e.exams_students.where(student: current_user).size==1 && e.exams_students.where(student: current_user)[0].grade<10))}
          %td
            = e.name
          %td
            = e.date
          %td
            = link_to e.subject.name, e.subject
          %td
            - if (e.exams_students.where(student: current_user).size==1)
              = e.exams_students.where(student: current_user)[0].grade
- else
  %table{ :class => "table table-striped table-hover table-bordered table-condensed" }
    %thead
      %tr
        %th Intitulé
        %th Date
        %th Matiere
        %th Moyenne
    %tbody
      - @subject.exams.where(subject:@subject).each do |e|
        %tr
          %td
            = link_to e.name, subject_exam_path(e.subject,e)
          %td
            = e.date
          %td
            = link_to e.subject.name, e.subject
          %td
            = e.average_mark
= link_to "Ajouter un examen", new_subject_exam_path(subject_id: @subject.id), class: "btn btn-default" if can? :manage, Subject

%h1 Élèves

- if can? :manage, Subject
  = link_to "Inviter un étudiant", new_user_invitation_path, class: "btn btn-xs btn-primary"
  %button.btn.btn-default.btn-xs#add_student_btn
    Ajouter un étudiant

  %div#add_student_bloc
    = render "subjects/add_student_form"

%table{ :class => "table table-striped table-hover table-bordered table-condensed" }
  %thead
    %tr
      %th Noms
      %th Moyenne
      - if current_user.is_teacher
        %th
  %tbody
    - @subject.students.sort{|x,y| x.last_name <=> y.last_name}.each do |s|
      %tr
        %td
          = s.first_name + " " + s.last_name
        %td
          - if current_user.is_teacher || s==current_user
            = student_avg(@subject,s)
          - else
            \-
        - if current_user.is_teacher
          %td
            = link_to "Suppr.", delete_subject_student_path(student_id: s.id), :method => :delete



= link_to 'Back', root_url
