%p#notice= notice

%h1
  = @subject.name

= link_to 'Edit', edit_subject_path(@subject) if can? :manage, Subject
%p
  = "du "
  = @subject.start_date
  = " au "
  = @subject.finish_date
%p
  = " par " + @subject.owner.first_name + " "+ @subject.owner.last_name


%h1 Examens
- if !current_user.is_teacher
  %table{ :class => "table table-striped table-hover" }
    %thead
      %tr
        %th Intitulé
        %th Date
        %th Matiere
        %th Note
    %tbody
      - @subject.exams.where(subject:@subject).each do |e|
        %tr{ :class => ("danger" unless e.exams_students.where(student: current_user) && e.exams_students.where(student: current_user)[0].grade>=10)}
          %td
            = link_to e.name, subject_exam_path(e.subject,e)
          %td
            = e.date
          %td
            = link_to e.subject.name, e.subject
          %td
            - if (e.exams_students.where(student: current_user))
              = e.exams_students.where(student: current_user)[0].grade
- else
  %table{ :class => "table table-striped table-hover" }
    %thead
      %tr
        %th Intitulé
        %th Date
        %th Matiere
    %tbody
      - @subject.exams.where(subject:@subject).each do |e|
        %tr
          %td
            = link_to e.name, subject_exam_path(e.subject,e)
          %td
            = e.date
          %td
            = link_to e.subject.name, e.subject

%h1 Élèves
%table{ :class => "table table-striped table-hover" }
  %thead
    %tr
      %th Noms
      %th Moyenne
  %tbody
    - @subject.students.sort{|x,y| x.last_name <=> y.last_name}.each do |s|
      %tr
        %td
          = s.first_name + " " + s.last_name
        %td
          - if current_user.is_teacher || s==current_user
            = student_avg s

= link_to 'Back', subjects_path
