%h1 Listing exams

%table
  %thead
    %tr
      %th Name
      %th Date
      %th Subject
      %th
      %th
      %th

  %tbody
    - @exams.each do |exam|
      %tr
        %td= exam.name
        %td= exam.date
        %td= exam.subject_id
        %td= link_to 'Show', subject_exam_path(exam.subject, exam)
        %td= link_to 'Edit', edit_subject_exam_path(exam.subject, exam)
        %td= link_to 'Destroy', subject_exam_path(exam.subject, exam), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Exam', new_subject_exam_path
