%h2 
  = @exam.name
= link_to 'Edit', edit_subject_exam_path(@exam)

%div.row
  %div{:class => "col-xs-12 col-sm-6"}
    %b Date:
    = @exam.date
  %div{:class => "col-xs-12 col-sm-6"}
    %b Module:
    = @exam.subject.name

%hr

%div{:class => "panel panel-default"}
  %div.panel-heading
    Gestion examens
  %table{ :class => "table table-striped table-hover" }
    %thead
      %tr 
        %th Nom
        %th Note
    %tbody
      - @grades.each do |m|
        %tr{:class => ("danger" unless m.grade > 10) }
          %td
            = m.student.first_name + " " + m.student.last_name
          %td
            = m.grade 

= form_for @new_grade do |f|
  - if @new_grade.errors.any?
    #error_explanation
      %h2= "#{pluralize(@grade.errors.count, "error")} prohibited this exam from being saved:"
      %ul
        - @new_grade.errors.full_messages.each do |msg|
          %li= msg  

  .field
    = f.label :exam_id
    = f.text_field :exam_id
  .field
    = f.label :student_id
    = f.number_field :student_id
  .field
    = f.label :grade
    = f.number_field :grade
  .actions
    = f.submit 'Save'

= link_to 'Back', subject_path(@exam)