%p#notice= notice

%p
  %b Name:
  = @exam.name
%p
  %b Date:
  = @exam.date
%p
  %b Subject:
  = @exam.subject.name

= link_to 'Edit', edit_subject_exam_path(@exam)
\|
= link_to 'Back', subject_exams_path
