
%h2= t "devise.invitations.new.header"

= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post} do |f|
  = render 'layouts/error_messages', object: resource
  %p
    = f.label :email
    = f.text_field :email
  %p
    = f.label :firstName
    = f.text_field :first_name
  %p
    = f.label :lastName
    = f.text_field :last_name

  %p= f.submit t("devise.invitations.new.submit_button")