
%div.row
  %div#form_bloc.center-block
    %h2= "Inviter un nouvel utilisateur"

    = bootstrap_form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post} do |f|
      = f.text_field :email
      = f.text_field :first_name
      = f.text_field :last_name
      = f.submit "Envoyer"