%div.row
  %div#form_bloc.center-block
    %h2 Sign up
    = bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = devise_error_messages!

      = f.email_field :email
      = f.text_field :first_name, autofocus: true
      = f.text_field :last_name
      = f.password_field :password, autocomplete: "off"
      - if @minimum_password_length
        %em
          (#{@minimum_password_length} characters minimum)
      = f.password_field :password_confirmation, autocomplete: "off"
      .actions
        = f.submit "Sign up"
    = render "devise/shared/links"
